{% extends 'home/base.html.twig' %}

{% block title %}{{ venue.name }}{% endblock %}


{% block body %}
    <h3>Venue | <strong>{{ venue.name }}</strong></h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ venue.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ venue.name }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ venue.capacity }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ venue.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ venue.city }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ venue.postcode }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ venue.country }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <img class="img-fluid border shadow-lg w-250" src="{{ asset('img/venues/' ~ venue.image) }}" alt="Musician Image">
                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}
