{% extends 'home/base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}
    <h3>Event | <strong>{{ event.name }}</strong></h3>

    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card border">
                <div class="row">

                    <div class="col-sm-5">
                        <div class="mw-full">
                            <div class="card p-0 border">
                                <img src="{{ asset('img/events/' ~ event.image) }}" class="img-fluid rounded-top" alt="Event image">
                                <div class="content">
                                    <h1 class="content-title font-weight-bolder text-center">
                                        {{ event.name }}
                                    </h1>
                                    <h6 class="content-title font-weight-light text-center">
                                        <form method="post" action="{{ path('booking_new', {'id': event.id}) }}">
                                            <button class="btn btn-danger text-dark">
                                                <i class="fas fa-money-check-alt"></i>
                                                Book event
                                            </button>
                                        </form>

                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="card p-0 border">
                            <div class="content font-weight-light">
                                {% for venue in event.venues %}
                                <p class="text-muted">
                                    {{ venue.name }} | <i class="fas fa-users"></i> {{ venue.capacity }}
                                </p>
                                <p class="text-muted">
                                    {{ venue.address }} {{ venue.postcode}} {{ venue.city }}
                                </p>
                                <p class="text-muted">
                                     {{ venue.country }}
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% for musician in event.musicians %}
                    <div  class="col-sm-5">
                        <div class="mw-full">
                            <div class="card p-0 border">
                                <img src="{{ asset('img/musicians/' ~ musician.image) }}" class="img-fluid rounded-top" alt="Musician image">
                                <div class="content">
                                    <h3 class="content-title font-weight-bold">
                                        {{ musician.name }} |
                                    </h3>
                                    {{ musician.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Content wrapper end -->

{% endblock %}
