{% extends 'home/base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}
<h3>Event | <strong>{{ event.name }}</strong></h3>

    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row card d-flex justify-content-center shadow">
                <div class="col-sm-4 mw-full">
                    <div class="card shadow p-0">
                        <div class="image-wrapper">
                            <img src="{{ asset('img/events/' ~ event.image) }}" class="img-fluid rounded-top" alt="Event Image">
                        </div>
                        <div class="content d-flex justify-content-center">
                            <h1 class="font-weight-bolder mt-20">
                                {{ event.name }}
                            </h1>
                        </div>
                        <h6 class="content-title font-weight-light text-center">
                            <a href="{{ path('booking_show', {'id': event.id}) }}">
                                <button class="btn btn-event text-dark" style="width: 75%">
                                    <i class="fas fa-money-check-alt"></i>
                                    Booking
                                </button>
                            </a>
                        </h6>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="card p-0 shadow">
                        <h5 class="font-weight-bolder text-uppercase pl-20 pt-20">About Event</h5>
                        <div class="content font-weight-light long-description">
                            {{ event.description }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row card justify-content-center shadow">
                <div class="w-full text-center">
                    <h1 class="font-weight-bold text-uppercase">Featuring</h1>
                </div>

            {% for musician in event.musicians %}
                <div class="card col-sm-7 p-0 shadow" style="border: black 25px">
                    <div class="row no-gutters">
                        <div class="col-3 image-wrapper">
                            <img src="{{ asset('img/musicians/' ~ musician.image) }}"  alt="Musician Image">
                        </div>
                        <div class="col-9">
                            <div class="card-body p-20" style="flex-flow: row wrap;">
                                <h5 class="card-title font-weight-bolder">{{ musician.name }}</h5>
                                <div class="pb-20">
                                    {% for genre in musician.genre %}
                                        <a class="badge badge-pill btn-event shadow" href="{{ path('genre_musicians', {genre: genre.name}) }}">
                                            <i class="fa fa-music text-dark mr-5" aria-hidden="true"></i> {{ genre.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="position-absolute bottom-0 right-0 pl-20 pr-20 w-full h-50">
                                    <a href="{{ path('musician_show', {'id': musician.id}) }}" class="btn btn-block btn-event border shadow">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="row card d-flex justify-content-center shadow">
                <div class="w-full text-center">
                    <h1 class="font-weight-bold text-uppercase">Location</h1>
                </div>
                {% for venue in event.venues %}
                    <div class="col-sm-6 mw-full">
                        <div class="card shadow p-0">
                            <div class="image-wrapper">
                                <img src="{{ asset('img/venues/' ~ venue.image) }}" class="img-fluid rounded-top" alt="Venue Image">
                            </div>
                            <div class="content d-flex justify-content-center">
                                <h4 class="mt-20 font-weight-bold text-uppercase">
                                    {{ venue.name }}
                                </h4>
                            </div>
                            <div class="content">
                                <div>
                                    <h4 class="text-uppercase font-weight-bolder">Address:<h1>
                                    <h6 class="font-weight-bolder mt-20">
                                        {{ venue.address }}, {{ venue.city }}
                                    </h6>
                                </div>
                                <div>
                                    <h6 class="font-weight-bolder mt-20">
                                        {{ venue.postcode }} {{ venue.country }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}