<div class="container-fluid">
    <div class="row row-eq-spacing-lg">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="content">
                {{ form_start(form) }}

                <!-- Name -->
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <!-- Description -->
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>

                <hr>

                <div class="form-row row-eq-spacing">
                    <!-- Start Date -->
                    <div class="col-sm form-group w-half pr-10">
                        {{ form_label(form.start_date) }}
                        {{ form_widget(form.start_date) }}
                    </div>

                    <!-- Start Time -->
                    <div class="col-sm form-group w-half pl-10">
                        {{ form_label(form.start_time) }}
                        {{ form_widget(form.start_time) }}
                    </div>
                </div>

                <div class="form-row row-eq-spacing">
                    <!-- End Date -->
                    <div class="col-sm form-group w-half pr-10">
                        {{ form_label(form.end_date) }}
                        {{ form_widget(form.end_date) }}
                    </div>

                    <!-- End Time -->
                    <div class="col-sm form-group w-half pl-10">
                        {{ form_label(form.end_time) }}
                        {{ form_widget(form.end_time) }}
                    </div>
                </div>

                <hr>

                <div class="form-row row-eq-spacing-sm">
                    <!-- Price -->
                    <div class="col-sm form-group">
                        {{ form_label(form.price) }}
                        {{ form_widget(form.price) }}
                    </div>

                    <!-- Discount -->
                    <div class="col-sm form-group">
                        {{ form_row(form.discount) }}
                    </div>
                </div>

                <div class="form-row row-eq-spacing-sm">
                    <!-- Discount Begin -->
                    <div class="col-sm form-group">
                        {{ form_row(form.discount_begin) }}
                    </div>

                    <!-- Discount End -->
                    <div class="col-sm form-group">
                        {{ form_row(form.discount_end) }}
                    </div>
                </div>

                <hr>

                <!-- Musicians -->
                <div class="form-group">
                    {{ form_label(form.musicians) }}
                    {{ form_widget(form.musicians) }}
                </div>

                <!-- Venues -->
                <div class="form-group">
                    {{ form_label(form.venues) }}
                    {{ form_widget(form.venues) }}
                </div>

                <!-- Image -->
                {% if form_errors(form.image) %}
                    {{ form_errors(form.image) }}
                {% endif %}
                {% do form.image.setRendered() %}
                <label class="font-weight-bold required">Image</label>
                <div class="custom-file pb-20">
                    <input type="file" id="file-input" name="event[image]" data-default-value="No image chosen" required="required">
                    <label for="file-input" style="width: 100%; text-align: center;">Choose an image</label>
                </div>

                <button class="btn btn-block border shadow btn-event">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
