{% extends 'home/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row row-eq-spacing-lg">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">

                    <div class="content card shadow border">
                        <h1 class="text-center">Login</h1>

                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <!-- Email -->
                            <div class="form-group mt-10">
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                                <small class="text-danger"></small>
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                            </div>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <input class="btn btn-primary btn-block" type="submit" value="Sign in">

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
