<!-- Navbar start -->
<nav class="navbar">
    <div class="navbar-content">

        <!-- Navbar brand -->
        <a href="{{ path('index') }}" class="navbar-brand">
            <img src="{{ asset('img/eventzone_logo_gradient.png') }}" alt="Logo">
        </a>

        <!-- Navbar links -->
        <a href="{{ path('event_index') }}" class="btn btn-sm mr-10 border" role="button">Events</a>
        <a href="{{ path('musician_index') }}" class="btn btn-sm mr-10 border" role="button">Musicians</a>
        <a href="{{ path('venue_index') }}" class="btn btn-sm mr-10 border" role="button">Venues</a>

    </div>

    <div class="navbar-content ml-auto">

        <form class="form-inline ml-auto pr-20" action="..." method="...">
            <div class="input-group">
                <input type="text" class="form-control" tabindex="1" placeholder="Search by genre" required="required">
                <div class="input-group-append">
                    <button class="btn" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span class="sr-only">Search by genre</span>
                    </button>
                </div>
            </div>
        </form>

        {% if not app.user %}
            <a href="{{ path('app_register') }}" class="btn mr-10 border" role="button">Sign up</a>
        {% else %}
            <div class="dropdown toggle-on-hover">
                <button class="btn" data-toggle="dropdown" type="button" id="" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user ml-5" aria-hidden="true"></i> Account <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="...">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('dashboard') }}" class="dropdown-item"><i class="fa fa-chart-bar ml-5" aria-hidden="true"></i> Dashboard</a>
                    {% endif %}
                        <a href="{{ path('user_settings') }}" class="dropdown-item"><i class="fas fa-cog ml-5" aria-hidden="true"></i> Settings</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-content">
                        <a href="{{ path('app_logout') }}">
                            <button class="btn btn-block btn-danger" type="button">Sign out</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>
<!-- Navbar end -->