<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Font Awesome 6 SVG -->
    <script src="https://kit.fontawesome.com/0e99690281.js" crossorigin="anonymous"></script>

    <!-- Halfmoon CSS -->
    <link href="{{ asset('css/halfmoon-variables.min.css') }}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet"/>

    {% block stylesheets %}{% endblock %}
</head>
<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true">

<!-- Page wrapper start -->
<div id="page-wrapper" class="page-wrapper with-navbar with-navbar-fixed-bottom">

    {{ include('home/_nav.html.twig') }}

    {% block body %}{% endblock %}

    {{ include('home/_footer.html.twig') }}

</div>
<!-- Page wrapper end -->

{% block javascripts %}{% endblock %}

<!-- Halfmoon JS -->
<script src="{{ asset('js/halfmoon.min.js') }}"></script>

<!-- Custom JS -->
<script src="{{ asset('js/app.js') }}"></script>

</body>
</html>
