{% extends 'home/base.html.twig' %}
{% block title %}Index{% endblock %}
{% block body %}

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <div class="container-fluid">
            <div id="particles-js"></div>
        </div>

        <div class="row w-full pt-20">
            <div class="col-3"></div>

            <div class="col-6 w-full">
                <form class="form-inline" action="{{ path('genre_musicians') }}" method="get">
                    <div class="input-group">
                        <input type="text" name="genre" class="form-control" id="genre-search" autocomplete="off" data-path="{{ path('genre_search') }}" placeholder="Search by genre" required="required">
                        <div class="input-group-append">
                            <div class="dropdown with-arrow" id="genre-dropdown">
                                <button class="btn" data-toggle="dropdown" type="button" id="genre-dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-center" id="suggestions">
                                    {# Dynamic divs #}
                                </div>
                            </div>
                        </div>
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <span class="sr-only">Search by genre</span>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="p-10">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-primary filled-lm" role="alert">
                        <h4 class="alert-heading"></h4>
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger filled-lm" role="alert">
                        <h4 class="alert-heading"></h4>
                        {{ message }}
                    </div>
                {% endfor %}
                </div>

                <img src="{{ asset('img/eventzone_logo_gradient.png') }}" class="img-fluid pt-20" id="logo" alt="Logo">

            </div>
            <div class="col-3"></div>
        </div>

    </div>
    <!-- Content wrapper end -->

    {{ include('home/_footer.html.twig') }}

{% endblock %}

{% block javascripts %}
    <!-- Particles JS -->
    <script src="{{ asset('js/particles.min.js') }}"></script>
    <script src="{{ asset('js/particles-config.js') }}"></script>
{% endblock %}