{% block body %}
    <h3>Booking | <strong>{{ event.name }}</strong></h3>

<!-- Content wrapper start -->
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card border">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card p-0 border">
                        <div class="content">
                            <h2 class="content-title font-weight-bolder">
                                <i class="fas fa-user"></i>
                                {{ user.firstName }} {{ user.lastName }}
                            </h2>
                            <h2 class="content-title font-weight-bolder">
                                <i class="fas fa-envelope"></i>
                                {{ user.email }}
                            </h2>
                        </div>
                    </div>
                    {% if hasBillingAddress is same as(true) %}
                        <div class="card p-0 border">
                            <div class="content">
                                <h4>Billing Address</h4>
                                <p class="text-muted">
                                    {{ user.address }}, {{ user.city }}
                                </p>
                                <p class="text-muted">
                                    {{ user.postcode }}, {{ user.country }}
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <div class="card p-0 border">
                            <div class="content">
                                <h3 class="text-danger">
                                    <i class="fas fa-exclamation-triangle"></i> Please update your billing address in the settings menu.
                                </h3>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card p-0 border">
                        <div class="content">
                            <h4>Price</h4>
                            <h2 class="content-title font-weight-bolder">
                                <i class="fas fa-money-bill"></i>
                                {{ event.price }}
                            </h2>
                            <hr>
                            {% if currentDiscount is not same as(0) and currentDiscount is not null %}
                                <h4 class="font-weight-bold">
                                    <i class="fas fa-crow" style="color: orangered"></i> Early Bird Discount
                                </h4>
                                <h2 class="content-title font-weight-bolder">
                                    <i class="fas fa-tags" style="color: orangered"></i>
                                    {{ currentDiscount }} %
                                </h2>
                            {% endif %}
                                <hr>
                                <h2 class="content-title font-weight-bolder">
                                    <i class="fas fa-money-bill"></i>
                                    Price: {{ finalPrice }}
                                </h2>
                         </div>
                    </div>
                </div>

                <div  class="col-sm-6">
                    <div class="mw-full">
                        <div class="card p-0 border">
                            <div class="content">

                                <h2 class="content-title font-weight-bolder text-center">
                                    Event: {{ event.name }}
                                </h2>
                                {% for musician in event.musicians %}
                                <h3 class="content-title font-weight-bold">
                                    Musician: {{ musician.name }}
                                </h3>
                                {% endfor %}
                                {% for venue in event.venues %}
                                <p class="text-muted">
                                    Venue: {{ venue.name }}
                                </p>
                                <p class="text-muted">
                                    Capacity: <i class="fas fa-user"></i> {{ venue.capacity }}
                                </p>
                                <p class="text-muted">
                                    {{ venue.address }}, {{ venue.city }}

                                </p>
                                <p class="text-muted">
                                    {{ venue.postcode }}, {{ venue.country }}
                                </p>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Content wrapper end -->

{% endblock %}
