<div class="card col-sm-5 p-0">
    <div class="row no-gutters">
        <div class="col-4 image-wrapper">
            <img src="{{ asset('img/musicians/' ~ musician.image) }}"  alt="Musician Image">
        </div>
        <div class="col-8">
            <div class="card-body p-20" style="flex-flow: row wrap;">
                <h5 class="card-title font-weight-bolder">{{ musician.name }}</h5>
                <div class="pb-20">
                {% for genre in musician.genre %}
                    <a class="badge badge-pill btn-event shadow" href="{{ path('genre_musicians', {genre: genre.name}) }}">
                        <i class="fa fa-music text-dark mr-5" aria-hidden="true"></i> {{ genre.name }}
                    </a>
                {% endfor %}
                </div>
                <div class="position-absolute bottom-0 right-0 pl-20 pr-20 w-full h-50">
                    <a href="{{ path('musician_show', {'id': musician.id}) }}" class="btn btn-block btn-event border shadow">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
