{% extends 'base.html.twig' %}

{% block title %}Musician index{% endblock %}

{% block body %}
    <h1>Musician index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for musician in musicians %}
            <tr>
                <td>{{ musician.id }}</td>
                <td>{{ musician.name }}</td>
                <td>{{ musician.description }}</td>
                <td>{{ musician.image }}</td>
                <td>
                    <a href="{{ path('musician_show', {'id': musician.id}) }}">show</a>
                    <a href="{{ path('musician_edit', {'id': musician.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('musician_new') }}">Create new</a>
{% endblock %}
