<div class="container-fluid">
    <div class="row row-eq-spacing-lg">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="content">

                {{ form_start(form) }}
                <div class="form-row row-eq-spacing-sm">

                    <!-- Name -->
                    <div class="col-sm form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        <small class="text-danger">{{ form_errors(form.name) }}</small>
                    </div>

                    <!-- Capacity -->
                    <div class="col-sm form-group">
                        {{ form_label(form.capacity) }}
                        {{ form_widget(form.capacity) }}
                        <small class="text-danger">{{ form_errors(form.capacity) }}</small>
                    </div>

                </div>

                <!-- Image -->
                {% do form.image.setRendered() %}
                <label class="font-weight-bold required">Image</label>
                <div class="custom-file pb-20">
                    <input type="file" id="file-input" name="venue[image]" data-default-value="No image chosen" required="required">
                    <label for="file-input" style="width: 100%; text-align: center;">Choose an image</label>
                </div>

                <div class="form-row row-eq-spacing-sm">

                    <!-- Address -->
                    <div class="col-sm form-group">
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address) }}
                    </div>

                    <!-- City -->
                    <div class="col-sm form-group">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city) }}
                    </div>

                </div>

                <div class="form-row row-eq-spacing-sm">

                    <!-- Postal Code -->
                    <div class="col-sm form-group">
                        {{ form_label(form.postcode) }}
                        {{ form_widget(form.postcode) }}
                    </div>

                    <!-- Country -->
                    <div class="col-sm form-group">
                        {{ form_label(form.country) }}
                        {{ form_widget(form.country) }}
                    </div>

                </div>

                <button class="btn btn-block border shadow btn-event">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}

            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>