<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Font Awesome 6 SVG -->
    <script src="https://kit.fontawesome.com/0e99690281.js" crossorigin="anonymous"></script>

    <!-- Halfmoon CSS -->
    <link href="{{ asset('css/halfmoon-variables.min.css') }}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet"/>

    {% block stylesheets %}{% endblock %}
</head>
<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true">

<!-- Page wrapper start -->
<div id="page-wrapper" class="page-wrapper with-navbar with-sidebar" data-sidebar-type="default">

    {{ include('admin/dashboard/_nav.html.twig') }}
    {{ include('admin/dashboard/_sidebar.html.twig') }}

    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row row-eq-spacing-lg">
                <div class="col-lg-12">

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-primary filled-lm mb-20" role="alert">
                            <h1 class="alert-heading font-weight-bolder">Success!</h1>
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger filled-lm pb-20" role="alert">
                            <h1 class="alert-heading font-weight-bolder">Error!</h1>
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% block body %}{% endblock %}

                </div>
            </div>
        </div>
    </div>
    <!-- Content wrapper end -->

    {{ include('admin/dashboard/_footer.html.twig') }}

</div>
<!-- Page wrapper end -->

{% block javascripts %}{% endblock %}

<!-- Halfmoon JS -->
<script src="{{ asset('js/halfmoon.min.js') }}"></script>

<!-- Custom JS -->
<script src="{{ asset('js/app.js') }}"></script>

</body>
</html>
