{% extends 'home/base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

<!-- Content wrapper start -->
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row row-eq-spacing-lg">

            <div class="col-lg-3"></div>

            <div class="col-lg-6 card">

                <h1 class="text-center">Account settings</h1>
                <div class="content p-20">
                    <form action="" method="POST">

                    <div class="form-row row-eq-spacing-sm">
                        <!-- First name -->
                        <div class="col-sm form-group">
                            <label for="first-name" class="font-weight-bold">First name</label>
                            <input type="text" class="form-control" disabled="disabled"
                                   value="{{ user.firstName }}"
                                   id="first-name">
                        </div>

                        <!-- Last name -->
                        <div class="col-sm form-group">
                            <label for="last-name" class="font-weight-bold">Last name</label>
                            <input type="text" class="form-control" disabled="disabled"
                                   value="{{ user.lastName }}"
                                   id="last-name">
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email" class="font-weight-bold">Email</label>
                        <input type="email" id="email" class="form-control"
                               value="{{ user.email }}"
                               disabled="disabled">
                    </div>


                    {{ form_start(form) }}
                    <div class="form-row row-eq-spacing-sm">
                        <!-- Address -->
                        <div class="col-sm form-group">
                            {{ form_label(form.address) }}
                            {{ form_widget(form.address) }}
                        </div>

                        <!-- City -->
                        <div class="col-sm form-group">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city) }}
                        </div>
                    </div>
                    <div class="form-row row-eq-spacing-sm">
                        <!-- Postcode -->
                        <div class="col-sm form-group">
                            {{ form_label(form.postcode) }}
                            {{ form_widget(form.postcode) }}
                        </div>

                        <!-- Country -->
                        <div class="col-sm form-group">
                            {{ form_label(form.country) }}
                            {{ form_widget(form.country) }}
                        </div>
                    </div>

                    <button class="btn btn-block border shadow btn-event">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}
                </div>


                <div class="content p-20">
                    <h1 class="text-center pt-20">Change password</h1>
                    <form action="{{ path('user_reset_password') }}" method="post">

                        <!-- Password -->
                        <div class="form-group">
                            <label for="currentPassword">Current Password</label>
                            <input type="password" id="currentPassword"
                                   class="form-control"
                                   name="currentPassword" placeholder="Current Password">
                            <label for="newPassword" class="mt-20">New Password</label>
                            <input type="password" id="newPassword"
                                   class="form-control"
                                   name="newPassword" placeholder="Password">
                            <small class="text-danger"></small>
                        </div>

                        <button class="btn btn-block border shadow btn-event">{{ button_label|default('Save') }}</button>
                    </form>
                </div>

            </div>

            <div class="col-lg-3"></div>

        </div>
    </div>
</div>
<!-- Content wrapper end -->

{% endblock %}
